*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij
.idea
**/*.iml

# Maven
**/target

# build
javacore.**
Snap.**

# OS
.DS_Store

# Cookies
cookies.txt

# Logs
tmlog.lck
tmlog*.log

# NodeJS
node_modules

# AWS
*.pkg

# Gradle
.gradle

# Batch jobs
.csv
