version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2023.04.2
    resource_class: large
    steps:
      - checkout
      - run:
          name: Current JDK
          command: java -version

      - run:
          name: Install SDK 25
          command: wget https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.1%2B8/OpenJDK25U-jdk_x64_linux_hotspot_25.0.1_8.tar.gz &&
            tar -xvf OpenJDK25U-jdk_x64_linux_hotspot_25.0.1_8.tar.gz &&
            sudo mv jdk-25*/ /opt/jdk25 &&
            export JAVA_HOME=/opt/jdk25 &&
            export PATH=$PATH:$JAVA_HOME/bin

      - run:
          name: Docker Compose Install
          command: export JAVA_HOME=/opt/jdk25 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              make dc-migration

      - run:
          name: Build
          command: export JAVA_HOME=/opt/jdk25 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              mvn -B -DskipTests clean package

      - run:
          name: Test
          command: export JAVA_HOME=/opt/jdk25 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              java -version &&
              mvn test

workflows:
  sample:
    jobs:
      - build-and-test
