version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2023.04.2
    resource_class: large
    steps:
      - checkout
      - run:
          name: Current JDK
          command: java -version

      - run:
          name: Install SDK 21
          command: wget https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            tar -xvf OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz &&
            sudo mv jdk-21*/ /opt/jdk21 &&
            export JAVA_HOME=/opt/jdk21 &&
            export PATH=$PATH:$JAVA_HOME/bin

      - run:
          name: Build
          command: export JAVA_HOME=/opt/jdk21 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              mvn -B -DskipTests clean package

      - run:
          name: Test
          command: export JAVA_HOME=/opt/jdk21 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              java -version &&
              mvn test

workflows:
  sample:
    jobs:
      - build-and-test
