version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2023.04.2
    resource_class: large
    steps:
      - checkout
      - run:
          name: Current JDK
          command: java -version

      - run:
          name: Install SDK 20
          command: wget https://download.java.net/java/GA/jdk20.0.1/b4887098932d415489976708ad6d1a4b/9/GPL/openjdk-20.0.1_linux-x64_bin.tar.gz &&
            tar xvf openjdk-20.0.1_linux-x64_bin.tar.gz &&
            sudo mv jdk-20*/ /opt/jdk20 &&
            export JAVA_HOME=/opt/jdk20 &&
            export PATH=$PATH:$JAVA_HOME/bin

      - run:
          name: Build
          command: export JAVA_HOME=/opt/jdk20 &&
              export PATH=$PATH:$JAVA_HOME/bin &&
              mvn -B -DskipTests clean package

      - run:
          name: Test
          command: export JAVA_HOME=/opt/jdk20; \
              export PATH=$PATH:$JAVA_HOME/bin; \
              java -version; \
              mvn test;

workflows:
  sample:
    jobs:
      - build-and-test
