<mat-card *ngIf="appService.token" style="width: 100%; text-align: center; align-items: center">
  <mat-card style="width: 90%; height: 100px">
    <mat-form-field appearance="fill"
                    style="border-radius:10px; background: darkgreen; border-style: solid;width: 90%; height: 80%">
      <mat-card-title style="width: 90%">Search here</mat-card-title>
      <input style="border-style: solid;background: darkseagreen" width="90%" matInput [(ngModel)]="term"
             (keyup)="refresh()">
      <p style="color: red" *ngIf="!validationSize">Only 10 characters allowed!!</p>
      <p style="color: red" *ngIf="!validationContent">Only alphanumeric characters allowed!</p>
    </mat-form-field>
  </mat-card>
  <mat-card style="width: 90%">
    <mat-card-title>Define Page Size</mat-card-title>
    <div class="d-flex flex-row-reverse bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <select (change)="onTableSizeChange($event)" class="custom-select">
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="allStaCos && allStaCos.length>0" style="background: darkgreen; width: 90%">
    <mat-card-title>Stamps and Coins</mat-card-title>
    <table class="table">
      <thead>
      <tr>
        <th (click)="setSortColumn('description')"
            style="background: {{sortColumn === 'description'? 'limegreen':'transparent' }}">Description
        </th>
        <th (click)="setSortColumn('year')"
            style="background: {{sortColumn === 'firstName'? 'limegreen':'transparent' }}">Year
        </th>
        <th (click)="setSortColumn('value')"
            style="background: {{sortColumn === 'value'? 'limegreen':'transparent' }}">Value
        </th>
        <th (click)="setSortColumn('currency')"
            style="background: {{sortColumn === 'currency'? 'limegreen':'transparent' }}">Currency
        </th>
        <th (click)="setSortColumn('diameterMM')"
            style="background: {{sortColumn === 'diameterMM'? 'limegreen':'transparent' }}">Diameter
        </th>
        <th (click)="setSortColumn('internalDiameterMM')"
            style="background: {{sortColumn === 'internalDiameterMM'? 'limegreen':'transparent' }}">Internal
          Diameter
        </th>
        <th (click)="setSortColumn('widthMM')"
            style="background: {{sortColumn === 'widthMM'? 'limegreen':'transparent' }}">Width
        </th>
        <th (click)="setSortColumn('heightMM')"
            style="background: {{sortColumn === 'heightMM'? 'limegreen':'transparent' }}">Height
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let staCo of allStaCos">
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'description'? 'limegreen':'transparent' }}">{{staCo.description ? staCo.description.value : 'N/A'}}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'year'? 'limegreen':'transparent' }}">{{staCo.year ? staCo.year : 'N/A'}}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'value'? 'limegreen':'transparent' }}">{{staCo.value ? staCo.value : 'N/A' }}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'currency'? 'limegreen':'transparent' }}">{{staCo.currency ? staCo.currency : 'N/A' }}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'diameterMM'? 'limegreen':'transparent' }}">{{staCo.diameterMM ? staCo.diameterMM : 'N/A' }}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'internalDiameterMM'? 'limegreen':'transparent' }}">{{staCo.internalDiameterMM ? staCo.internalDiameterMM : 'N/A'}}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'widthMM'? 'limegreen':'transparent' }}">{{staCo.widthMM ? staCo.widthMM : 'N/A'}}</td>
        <td (click)="setSelected(staCo)"
            style="background: {{sortColumn === 'heightMM'? 'limegreen':'transparent' }}">{{staCo.heightMM ? staCo.heightMM : 'N/A'}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card>
  <mat-card *ngIf="selectedRecord" style="background: darkgreen; width: 90%">
    <mat-card-title *ngIf="selectedRecord">Selected record</mat-card-title>
    <p *ngIf="selectedRecord.description.value">Description: {{selectedRecord.description.value}}</p>
    <p *ngIf="selectedRecord.year">Year: {{selectedRecord.year}}</p>
    <p *ngIf="selectedRecord.value">Value: {{selectedRecord.value}}</p>
    <p *ngIf="selectedRecord.currency">Currency: {{selectedRecord.currency}}</p>
    <p *ngIf="selectedRecord.diameterMM">Diameter: {{selectedRecord.diameterMM}}</p>
    <p *ngIf="selectedRecord.internalDiameterMM">Internal Diameter: {{selectedRecord.internalDiameterMM}}</p>
    <p *ngIf="selectedRecord.widthMM">Width: {{selectedRecord.widthMM}}</p>
    <p *ngIf="selectedRecord.heightMM">Height: {{selectedRecord.heightMM}}</p>
  </mat-card>
  <mat-card style="width: 90%;">
    <p *ngFor="let page of pagesStaCos" (click)="setEntityPage(page-1)"
       style="border-radius: 5px; padding: 5px; display:inline-block; background: {{currentPageStaCo == page-1? 'green': 'white' }}">{{page}}</p>
  </mat-card>

</mat-card>
