name: staco-app-pull-request

on:
  pull_request:
    branches: [ main ]
  push:
    branches:
      - '*'
      - '!main'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'adopt'
        cache: maven

    - name: Build with Maven
      run:  mvn clean install jacoco:prepare-agent package jacoco:report

    - name: Set up Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - run: cd stamps-and-coins-web && yarn && npm run test-headless
