name: e2e-staco-app

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  e2e-electron:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Start Docker
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          retry_on: error
          timeout_seconds: 2400
          command: |
            make dcup-full-action

      - name: Run Cypress
        run: make cypress-electron

      - name: Cypress Fail!
        if: failure()
        run: |
          make docker-logs

  e2e-chrome:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Start Docker
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          retry_on: error
          timeout_seconds: 2400
          command: |
            make dcup-full-action

      - name: Run Cypress
        run: make cypress-chrome

      - name: Cypress Fail!
        if: failure()
        run: |
          make docker-logs

  e2e-firefox:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Start Docker
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          retry_on: error
          timeout_seconds: 2400
          command: |
            make dcup-full-action

      - name: Run Cypress
        run: make cypress-firefox

      - name: Cypress Fail!
        if: failure()
        run: |
          make docker-logs

  e2e-edge:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Start Docker
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          retry_on: error
          timeout_seconds: 2400
          command: |
            make dcup-full-action

      - name: Run Cypress
        run: make cypress-edge

      - name: Cypress Fail!
        if: failure()
        run: |
          make docker-logs
